extends base.pug

block content
  .container.main       
    .board-wrapper
      .header
        h3 Let's play!
        #loading Waiting for opponenet
      #board
      #message.center
      #colorTurn.center
      .countdown
        span.time-msg 
        span.time-value 
      .start-btn-ctn.center
        button.start-new-game(onclick="startNewGame()") Start New Game