body {
  background-color: cornsilk;
  margin: 0px -20%
}

.highlight-white {
  -webkit-box-shadow: inset 0 0 3px 3px yellow;
  -moz-box-shadow: inset 0 0 3px 3px yellow;
  box-shadow: inset 0 0 3px 3px yellow;  
}
.highlight-black {
  -webkit-box-shadow: inset 0 0 3px 3px blue;
  -moz-box-shadow: inset 0 0 3px 3px blue;
  box-shadow: inset 0 0 3px 3px blue;  
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.header {
	text-align: center;
}

#refresh-btn {
	margin-left: 23px;
  font-size: 80%;
}

.ai-radio{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.human-radio{
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.create-game-btn{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 120%;
  background: rgb(28, 184, 65); 
  color: white;
  width : 153.641px
}

.name-text{
  margin-left: 10px;
}

.welcome h1 {
  text-align: center;
}

.container.welcome {
  margin: 0px auto;
  width: 70%;
}

.board-wrapper {
  width: 45%;
  margin: 0px auto;
}

.content {
  border: 2px solid #8b4513;
  border-radius: 5%;
  min-height: 90%;
  margin: 2% 20%;
  background-color : white;
  position: relative;
}

#message {
  text-align: center;
}

.countdown{
    position: absolute;
    top: 12px;
    right: 3%;
}

.time-msg{ 
  font-weight: bold;
}